footer{
    .pie-pagina{
        width: 100%;
        background-image: linear-gradient(to bottom, white, #4a0b84, #4a0b84, #4a0b84, #4a0b84, #4a0b84, #4a0b84, #4a0b84, #4a0b84, #4a0b84, #4a0b84, #4a0b84, #4a0b84);
        .pie-pagina .grupo-1{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 45px 0px;
            .pie-pagina .grupo-1 .box figure{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .pie-pagina .grupo-1 .box figure img{
                    width: 350px;
                    height: 300px;
                }
                .pie-pagina .grupo-1 .box h2{
                    color: white;
                    margin-bottom: 25px;
                    font-size: 20px;
                }
                .pie-pagina .grupo-1 .box p{
                    color: #efefef;
                    margin-bottom: 10px;
                }


            }
            .pie-pagina .grupo-1 .red-social a{
                display:inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: #fff;
                margin-right: 10px;
                background-color: #9d61d5;
                text-align: center;
                .pie-pagina .grupo-1 .red-social a:hover{
                    color: #4a0b84;
                }
            }
        }
        .pie-pagina .grupo-2{
            padding: 15px 10px;
            text-align: center;
            color: #fff;
        
        }
    }   
}